-<!DOCTYPE html>
-
-<html>
-    <head>
-        <title>Accueil</title>
-        <style>
-            a {text-decoration: none; color: black;}
-        </style>
-    </head>
-
-    <body>
-        <h1>Recherche d'un film :</h1>
-
-        <form action="/search/new/" method="post">
-            <p>
-                <label for="query">Que dois-je faire ?</label>
-                <input type="text" name="query" id="query" autofocus />
-                <input type="submit" />
-            </p>
-        </form>
-    </body>
-</html> 
